@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button {
  border: none;
  outline: none;
  appearance: none;
  background: transparent;
  color: inherit;
}

body {
  color: white;
}

.App {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.developer span {
  font-weight: 600;
  color: #FFA500;
}

.calculator {
  border: 3px solid #FFA500;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  overflow: hidden;
}

.displayWindow {
  background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0));
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 1rem;
  height: 120px;
  flex-direction: column;
}

.displayWindow .expression {
  overflow-x: auto;
  width: 100%;
  text-align: right;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  scrollbar-width: none;
}

.displayWindow .result {
  font-size: 2.2rem;
  font-weight: 600;
}

.keysWindow {
  background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0));
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.keysWindow button {
  padding: 0.8rem 1.2rem;
  font-size: 1.3rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.keysWindow button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.keys_scientific {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.line {
  margin-block: 1.5rem;
  width: 2px;
  background-color: #FFA500;
}

.keys_basic {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.keys_basic .equal {
  background-color: #FFA500;
  color: #0f0f0f;
}

.keys_basic .number {
  color: white;
  font-weight: 600;
}

@media (max-width: 610px) {
  body {
    padding: 1rem;
  }

  .keysWindow {
    flex-direction: column;
    gap: 0;
  }

  .line {
    display: none;
  }

  .keys_scientific {
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
  }
}